
.SearchInput{
    border-radius: 45px;
    box-shadow: 0px 5px 5px grey;
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: none;
    outline: 0;
    font-size: 1rem;
    background-color: whitesmoke;
    text-indent: 30px;
}
.SearchBar{
    position: relative;

}
.Icon{
position: absolute;
top: 20px;
left: 50px;
color: grey;
}
@media screen and (min-width: 700px) {
    .Icon{
        left: 30px;
        }
  }

@media screen and (min-width: 1000px) {
    .Icon{
        left: 40px;
        }
  }
  @media screen and (min-width: 1200px) {
    .Icon{
        left: 50px;
        }
  }